<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
  <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <Pattern>%d{HH:mm:ss.SSS} [%t] %highlight([%-5level]) %logger{36}#%line - %msg%n</Pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="CONSOLE" />
  </root>

  <logger name="ga.rugal" level="TRACE" additivity="false">
    <appender-ref ref="CONSOLE" />
  </logger>
</configuration>
